.root {
	li {
		display: inline-block;
		width: 45px;
		height: 45px;
		border: 1px solid #fe5f1e;
		border-radius: 30px;
		text-align: center;
		line-height: 42px;
		margin-right: 10px;
		cursor: pointer;
	}

	& :hover {
		color: #fff;
		background-color: #fe5f1e;
	}

	a {
		width: 44px;
		height: 44px;
		display: inline-block;
		border-radius: 30px;
	}
	:global {
		.selected {
			background-color: #fe5f1e;
			color: #fff;
		}
	}
}
